@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;500;700&display=swap");

.textArea {
  background-color: #1e2835;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 100px;
}
.text1 {
  color: #f5e8a5;
  font-size: 50px;
  font-family: Outfit;
}
.text12 {
  color: #ffffff;
  font-weight: bold;
  font-size: 50px;
  font-family: Outfit;
}
.para1 {
  color: #ffffff;
  font-family: Outfit;
}
#banner {
  max-width: 50%;
}
